:host {
    display: flex;
    max-height: 80%;
    border-radius: 6px;
    background-color: white;
}

.dlg-header {
    min-height: 40px;
    background: #e8e8e8;
    padding: 6px;
}

#dlg-body {
    overflow: auto;
    padding: 0 10px;
}

.dlg-title {
    width: 100%;
    padding-left: 6px;
    user-select: none;
    cursor: move;
    color: gray;
    font-size: 1rem;
}

.cards-common {
    padding: 10px;
    border: solid 1px lightgray;
    border-radius: 10px;
}

button {
    font-size: 1.0rem;
    color: gray;
    padding: 4px 8px;
}

