<div class="all-app" [inert]="modal.openFlag">
    <div id="toolbar-frame">
        <div id="app-title">
            bridge
        </div>
        <div id="scrollSel">
            <select id="scrollSel"
                    #scrollSel
                    (change)="scrollSelChange()">
                <option *ngFor="let scroll of scrolls"
                        value="{{scroll | json}}">
                    {{scroll.name}}
                </option>
            </select>
        </div>
    </div>
    <div id="main-container">
        <div id="side-bar">
            <button class="btn">
                <i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i>
            </button>
            <button class="btn">
                <i class="fa fa-link"></i>
            </button>
            <button class="btn">
                <i class="fa fa-thermometer-full"></i>
            </button>
            <button class="btn" (click)="setStyles()">
                <i class="fa fa-list-alt"></i>
            </button>
        </div>
        <div id="plan-container" #containerRef>
            <div id="floor-plan" #floorPlanRef resizeObserver (resize)="onResize($event)">
            </div>
        </div>
    </div>
    <div class="footer">
        {{footerStatus}}
    </div>
    <div class="overlay" *ngIf="progressFlag">
        <div class="center">
            {{waitMsg}}
        </div>
    </div>
</div>

<ng-template #ctx_menu>
    <div cdkMenu class="ctx-menu">
        <button cdkMenuItem
                class="ctx-menu-item">
            Name
        </button>
        <button *ngIf="corrFlag"
                cdkMenuItem
                class="ctx-menu-item">
            Correction
        </button>
        <button cdkMenuItem
                class="ctx-menu-item">
            Styles
        </button>
        <button *ngIf="ctrlFlag"
                cdkMenuItem
                class="ctx-menu-item">
            On/Off
        </button>
        <button *ngIf="graphFlag"
                cdkMenuItem
                class="ctx-menu-item">
            Graph
        </button>
        <button *ngIf="moveFlag"
                cdkMenuItem
                class="ctx-menu-item">
            Move
        </button>
        <button cdkMenuItem
                class="ctx-menu-item">
            About
        </button>
    </div>
</ng-template>
