:host {
    display: flex;
    min-width: 60vw;
    max-height: 90vh;
    border-radius: 6px;
    background-color: white;
}

#all-dlg {
    flex: 1 1 auto;
    //width: 100%;
}

.dlg-header {
    background: #e8e8e8;
    padding: 6px;
}

#dlg-body {
    overflow: auto;
    padding: 0 10px;
}

.dlg-title {
    width: 100%;
    padding-left: 6px;
    user-select: none;
    cursor: move;
    color: gray;
    font-size: 1rem;
}

#selPoint {
    align-items: stretch;
    font-size: 0.8rem;
    text-align: right;
    gap: 2px;
}

.cards-common {
    padding: 10px;
    border: solid 1px lightgray;
    border-radius: 10px;
}

button {
    font-size: 1.0rem;
    color: gray;
    padding: 4px 8px;
}

#x-axe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    font-size: 15px;
    color: gray;
  }
